@import url('https://fonts.googleapis.com/css?family=Teko:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$dark-grey: #282828;
$light-grey: #6b6b6b;
$blue: #23a6d5;
$github-orange: #c9510c;
$linkedin-blue: #0077B5;
$blue-transluscent: rgba(61, 204, 212, .2);
$light-grey-transparent: rgba(120, 120, 120, .2);
$title-font: 'Teco', sans-serif;
$paragraph-font: 'Roboto', sans-serif;//'Open Sans', sans-serif;
$gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
$orange: #ee7752;
$magenta: #e73c7e;
$teal: #23d5ab;

$screen-small: 600px;
$screen-medium: 800px;
$screen-large: 1200px;

$gradient-bg: gradientBG 60s ease infinite;

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}