@import '../../styles/variables.scss';

html{
    // width: 100vw;
    // height: 100vh;
    //background-color: $blue-transluscent;
    margin: 0;
    width: 100%;
    height: 100vh;
    //font-family: "Exo", sans-serif;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: $gradient-bg
    
}

.profile{
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

// .blurred-box{
//     position: relative;
//     width: 250px;
//     height: 350px;
//     top: calc(50% - 175px);
//     left: calc(50% - 125px);
//     background: inherit;
//     border-radius: 2px;
//     overflow: hidden;
//   }
  
  .profile::after{
   content: '';
   width: 300px;
   height: 300px;
   background: inherit; 
   position: absolute;
   left: -25px;
   //left position;
   right: 0;
   top: -25px;  
   //top position 
   bottom: 0;
   box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
   filter: blur(10px);
  }

.profile-picture{
    font-family: $paragraph-font;
    color: $dark-grey;
    //background-color: $blue;
    padding: 2em;
    text-align: center;
    z-index: 100;
    img{
        border-radius: 50%;
        height: 18em;
        width: 18em;
        //border: 4px solid $dark-grey;
    }

    h3{
        border-bottom: solid 2px $gradient;
    }
    h4{
        padding-top: .5em;
    }
}

.link-buttons{
    @media (min-width: $screen-medium){

    }

    @media (min-width: $screen-large){
        display: flex;
        justify-content: center;
    }
}

.github-button{
    background-color: $github-orange;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    padding: .5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5em 1em;
    img{
        padding-right: .5em;
    }

    transition: all ease-in-out .5s; 
}

.github-button:hover{
    color: $github-orange;
    background-color: #fff;
    box-shadow: 0 0 10px $github-orange;
    transition: all ease-in-out .5s; 
}

.linkedin-button{
    background-color: $linkedin-blue;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    padding: .5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5em 1em;
    transition: all ease-in-out .5s;

    img{
        padding-right: .5em;
    }
}

.linkedin-button:hover{
    color: $linkedin-blue;
    background-color: #fff;
    box-shadow: 0 0 10px $linkedin-blue;
    transition: all ease-in-out .5s;
}