@import '../../styles/variables.scss';

.header{
    position: fixed;
    top:0;
    left:0;
    height: 7vh;
    width:100vw;
    background-color: $dark-grey;
    border-bottom: 2px solid $blue;
    display: flex;
    align-items: flex-end;
}

.menu-item{
    width: 25%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 0 .5em;
    margin: 0 1em;
    border-radius: 10px 10px 0 0;
    a{
        text-decoration: none;
        padding: .5em;
        font-size: 1rem;
        color: #fff;
        font-family: $title-font;
        text-align: center;
        padding-bottom: 0;
        border-bottom: 2px solid transparent;
        .icon{
            margin-right: .5em;
            color: $blue;
            font-size: .75rem;
        }
    }

    @media (min-width: $screen-medium){

    }

    @media (min-width: $screen-large){
        width: 12%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        //padding: 0 .5em;
        margin: 0 1em;
        border-radius: 10px 10px 0 0;
        a{
            text-decoration: none;
            padding: .5em;
            font-size: 1.5rem;
            color: #fff;
            font-family: $title-font;
            text-align: center;
            padding-bottom: 0;
            border-bottom: 2px solid transparent;
            .icon{
                margin-right: .5em;
                color: $blue;
                font-size: 1.25rem;
            }
        }
    }
}

.menu-item-current{
    background-color: $blue;
    border-radius: 10px 10px 0 0;
    a{
        
        border-bottom: 2px solid #fff;
        .icon{
            color: #fff;
        }
    }
    color: #fff
}

.menu-item:hover{
    background-color: $blue;
    
    transition: background-color linear .25s;

    a{
        border-bottom: 2px solid #fff;
        transition: border-bottom ease .5s;
        .icon{
            color: #fff;
            transition: color linear .5s;
        }
    }
    
}

