@import '../../styles/variables.scss';

.header{
    position: relative;
    top:0;
    left:0;
    z-index: 100;
    width:100vw;
    background-color: $dark-grey;
    border-bottom: 2px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 20vh;
    overflow: visible;
    
    .header-menu{
        //color: #fff;
        //background-color: $blue;
        padding: .5em;
        //border-radius: 50%;
    }
    
    @media (min-width: $screen-large){
        height: 7vh;
        flex-direction: row;
        align-items: flex-end;

        div:last-child{
            margin-left: auto;
        }

        .header-menu{
            display: none;
        }
    }
}




.menu-item{
    //width: 30%;
    height: 90%;
    display: flex;
    //justify-content: center;
    //align-items: center;
    //padding: 0 .5em;
    //margin: -.1em 1em;
    //border-radius: 10px 10px 0 0;
    transition: all linear .5s;
    width: 100%;
    a{
        text-decoration: none;
        padding: .5em;
        font-size: 1rem;
        color: #fff;
        font-family: $title-font;
        text-align: center;
        padding-bottom: 0;
        border-bottom: 2px solid transparent;
        width: 100%;
        text-align: left;
        .icon{
            margin-right: .5em;
            color: $blue;
            font-size: .75rem;
        }
    }

    @media (min-width: $screen-medium){

    }

    @media (min-width: $screen-large){
        width: auto;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        //padding: 0 .5em;
        margin: 0 1em;
        border-radius: 10px 10px 0 0;
        a{
            text-decoration: none;
            padding: .5em;
            font-size: 1.5rem;
            color: #fff;
            font-family: $title-font;
            text-align: center;
            padding-bottom: 0;
            border-bottom: 2px solid transparent;
            .icon{
                margin-right: .5em;
                color: $magenta;
                font-size: 1.25rem;
            }
        }
    }
}



.menu-item-current{
    background-color: $orange;
    width: 100%;
    //border-radius: 10px 10px 0 0;
    a{
        
        border-bottom: 2px solid #fff;
        .icon{
            color: #fff;
        }
    }
    color: #fff;
    @media (min-width: $screen-medium){
        // border-radius: 10px 10px 0 0;
        // width: auto;
    }

    @media (min-width: $screen-large){
        border-radius: 10px 10px 0 0;
        width: auto;
    }
}

.menu-item:hover{
    background-color: $orange;
    
    transition: background-color linear .25s;

    a{
        border-bottom: 2px solid #fff;
        transition: border-bottom ease .5s;
        width:100%;
        text-align: left;
        .icon{
            color: #fff;
            transition: color linear .5s;
        }
    }
    
}

.menu-control{
    position: absolute;
    bottom: -1.25em;
    left: calc(50% - 1.25em);
    width: 2.5em;
    height: 1.25em;
    background-color: $dark-grey;
    border: 2px solid #fff;
    border-radius: 0 0 10px 10px;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: clip;
    //padding: .5em;
    @media (min-width: $screen-large){
        display: none;
    }
}

.hide-menu{
    height: 0;
    .menu-item{
        display: none;
        transition: all .5 linear;
    }

    @media (min-width: $screen-large){
        height: 7vh;
        .menu-item{
            display: flex;
        }
    }
}